.announcement {
    height: 50px;
    width: 100%;
    background: #24598E;
    padding: 12px;
}

.announcement p {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.announcement p a {
    color: #fff;
}

.hero {
    background: url(../images/star-field-hero.png);
    height: 225px;
    padding: 80px;
}

.hero p {
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 100%;
}

.hero h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
    padding: 0;
    max-width: 100%;
}

span {
    font-size: 14px!important;
}

h3 {
    padding: 30px 0 0 0;
}

h2 {
    padding: 20px 0 0 0;
}

h4 {
    padding: 30px 0 0 0;
}
